<div class="container">
  <h1>Welcome to your Dashboard, <%= current_user.username %>!</h1>
  <hr>
  <div>
    <h2>Your restrooms:</h2>
    <ul class="container-fluid">
      <% if @restrooms.empty? %>
        <p>No restrooms created.</p>
      <% else %>
        <% @restrooms.each do |restroom| %>
          <div class="card-body">
            <%= link_to restroom.name, restroom_path(restroom) %>
          </div>
        <% end %>
      <% end %>
    </ul>
  </div>
  <hr>
  <div>
    <h2>Your reviews:</h2>
    <ul class="container-fluid">
      <% if @reviews.empty? %>
        <p>No reviews created.</p>
      <% else %>
        <% @reviews.each do |review| %>
        <div class="card-body">
          <% restroom = Restroom.find_by(id: review.restroom_id) %>
          <li>
            <%= link_to "#{review.comment} - #{restroom.name}", restroom_path(restroom) %>
          </li>
        </div>
        <% end %>
      <% end %>
      </ul>
    </div>
</div>
