<div style="width: 100%; height: 100%;"
  data-controller="map slide"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

  <div class="partial-container" style="position: absolute; bottom: 100px; z-index: 1000; width: 100%" data-slide-target="partialContainer"
  data-map-target="partialContainer">
  </div>
</div>

<div style="position: fixed; left: 50%; transform: translateX(-50%); bottom: 20px;">
  <%= link_to new_restroom_path, class: "btn rounded-circle", style: "background-color: #85C0EA; color: black; border: 1.5px solid black;" do %>
    <i class="fas fa-plus"></i>
  <% end %>
</div>

