<div class="container" style="margin-top: 230px;">
  <div class="centered-content">
    <%= image_tag "pointer baby.png", alt: "Restroomie logo changing table", width: 87, height: 117 %>
    <%= image_tag "pointer (pastel blue no boarder).png", alt: "Restroomie logo toilett", width: 87, height: 117 %>
    <%= image_tag "pointer acc.png", alt: "Restroomie logo accessibility", width: 87, height: 117 %>
     <br>
      <div style="margin-top: 10px;">
    <%= link_to "Find.Restrooms.Close", restrooms_path %>
  </div>
</div>
