.restroom-card{
  background: #FFFFFF;
  border: 1px solid rgba(156, 148, 148, 0.85);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  overflow: hidden;
}

.card-reviews {
  margin: 0 auto;
}
