li {
  list-style-type: none;
}

.form-actions {
  margin-bottom: 10px;
}

.btn {
  margin: 5px;
}

.forget-password {
  color: blue;
  padding-left: 5px;
}

.forget-password:hover {
  text-decoration: underline;
}
