<% restroom = review.restroom %>
<%= link_to restroom_path(restroom) do %>
  <div class="mb-4 restroom-card" style="max-height: 150px;">
    <div class="d-flex" style="max-height: 150px;">
      <div class="col-md-4">
        <% if restroom.photos.present? %>
          <%= cl_image_tag restroom.photos.first.key, class: "img-square-wrapper", height: 150, width: 150, crop: :fill %>
        <% else %>
          <p>No Image Available</p>
        <% end %>
      </div>
      <div class="card-body m-0">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="card-title"><%= restroom.name %></h5>
        </div>
          <% if restroom.reviews.present? %>
              <% average_rating = review.rating.to_f %>
              <% average_rating.round.times do %>
                <i class="fa-solid fa-star"></i>
              <% end %>
          <% end %>
        <p class="card-text mb-0"><%= review.comment.truncate_words(9) %></p>
      </div>
    </div>
  </div>
<% end %>
